@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
  margin: 0;
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
}

#container {
  background-image: url("../img/wood.jpg");
  background-repeat: repeat;
  background-size: 100%;
  background-attachment: scroll;
  display: grid;
  grid-template-areas:
  "header"
  "sidebar"
  "content"
  "footer";
}

@media only screen and (max-width: 850px) {
  #container {
    display: grid;
    grid-template-columns: 2fr 3.6fr;
    grid-template-areas:
    "sidebar intro "     
    "main main"
    "footer footer ";
  }

  ul {
    list-style-type: none;
    list-style-position: inside;
    padding: 0.5px;
  }

  .preamble {
    background-image: url("../img/scroll-2.png");
    background-attachment: local;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .sidebar {
    padding: 15% 5% 15% 5%;
  }
}

@media only screen and (min-width: 850px){
  #container {
    padding: 0% 5% 0% 5%;
    grid-template-columns: 2fr 5fr;
    grid-template-areas:
    "sidebar intro"
    "main main"
    "footer footer";
  }

  .preamble {
    background-image: url("../img/scroll.png"); 
    margin-top: 1%;
  }

  .sidebar {
    padding: 15% 5% 15% 5%;
  }
}

@media only screen and (min-width: 1300px){
  #container {
    grid-template-columns: 2fr 6fr;
  } 

  .main {
    margin-left: 5%;
    margin-right: 5%;
  }

  .sidebar {
    margin-left: 20%;
  }

  .intro {
    margin-right: 7.5%;
  }
}

a { 
  color:rgb(131, 67, 24);
}

a:hover{
  color:rgb(255, 0, 0);
}


p {
  font-family: 'Bad Script', cursive;
}

h1, h2, h3{
  font-size: 24px;
}

.intro {
  grid-area: intro;
}
.header, .summary, .supporting {
  background-color: rgb(255,227,169);
  border-color: rgb(66, 33, 11);
  border-style: solid;
}
.header {
  grid-area: header;
  padding: 0% 5% 0% 3%;
  border-bottom-color: rgb(0, 0, 0);
  border-width: 5px 5px 1px 5px;
}

.summary {
  padding: 0% 5% 0% 3%;
  border-top-color: rgb(0, 0, 0);
  border-width: 1px 5px 5px 5px;
}

.preamble {
  padding: 5% 5% 10% 5%;
  background-attachment: local;
  background-size: 100% 100%;
  background-repeat: no-repeat;

}

.preamble p, .main p  {
  text-align: justify;
  text-indent: 25px;
}

.preamble h3, .main h3, .sidebar h3 {
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
}

.preamble p:first-of-type, .preamble p:last-child {
  border-width: 5px;
  border-radius: 10px;
}

.preamble p:first-of-type {
  border-top-style: solid;
}

.preamble p:last-child {
  border-bottom-style: solid;
}

.main {
  padding: 0% 10% 0% 10%;
  grid-area: main;
}

.main p:first-of-type {
  border-top-style: solid;
  border-radius: 10px;
}

.main p:last-child {
  border-bottom-style: solid;
  border-radius: 10px;
}

.supporting {
  border-width: 8px 2px 8px 2px;
  border-spacing: 15px 50px;
  border-radius: 70px;
}

.footer {
  grid-area: footer;
}

.sidebar {
  grid-area: sidebar;
  background-image: url("../img/scroll-2.png");
  background-attachment: local;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


.select, .archives, .resources {
  border-width: 5px;
  border-style: solid none solid none;
  border-radius: 10px;
}